@media only screen and (min-width : 319px) {
  html {
    display: flex;
  }

  html > * { margin:auto; }

  body {
    font: 14px "Helvetica Neue", "Century Gothic", Futura, sans-serif;
  }

  ol, ul {
    display: flex;
    flex-direction: column;
  }

  .game {
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .status {
    min-height: 1.5em;
  }

  .winningSquare {
    box-shadow: 0 0 0 2px darkseagreen inset;
  }

  .square, .winningSquare {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 3em;
    height: 3em;
    margin-right: -1px;
    margin-top: -1px;
    padding: .5em;
    text-align: center;
    width: 3em;
    display: flex;
    flex-direction: column;
  }

  .winningSquare > * { margin:auto; }
  .square > * { margin:auto; }

  .game-board {
    display: flex;
    justify-content: center;
  }

  .winningSquare:focus {
    outline: none;
  }

  .square:hover, a{
    cursor: pointer;
  }

  .square:focus {
    outline: none;
  }

  .kbd-navigation .square:focus {
    background: #ddd;
  }

  .game-info {
    margin: 2.5%;
  }

  .restart {
    margin-top: 7.5%;
  }

  .thankyou {
    margin-top: 5%;
    font-size: .5em;
    font-weight: 100;
    display: none;
  }

  a {
    text-decoration: none;
    color: black;
  }

  a:hover {
    text-decoration: underline;
  }

  a:visted {
    color: black !important;
  }

  ol {
    display: none;
  }
}

@media only screen and (min-width : 767px) {
  .square, .winningSquare {
    line-height: 5em;
    height: 5em;
    width: 5em;
  }
}

.element-invisible {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}
