html {
  display: flex;
  justify-content: center;
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;

}

ol, ul {
  display: flex;
  flex-direction: column;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-top: 1em;
  display: flex;
  justify-content: center;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 5em;
  height: 5em;
  margin-right: -1px;
  margin-top: -1px;
  padding: .5em;
  text-align: center;
  width: 5em;
}

.square:hover, a{
  cursor: pointer;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  margin-top: 20%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.game-info {

}
